/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $medium-gray;
}

.preview__title {
  font-family: $sub-font;
  font-weight: 800;
}

.preview__meta {
  margin-top: rem-calc(20);
  margin-bottom: 0;
  color: $dark-gray;
  font-size: rem-calc(20);

  @include breakpoint(medium down) {
    font-size: rem-calc(14);
  }

  a {
    color: $sub-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.preview__thumb {
  object-fit: cover;
  height: 100%;
  width: 100%;

  @include breakpoint(small down) {
    padding-bottom: rem-calc(20);
  }
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.entry__thumb {
  text-align: center;
  margin-bottom: rem-calc(40);
}

.entry__meta {
  //margin-block: rem-calc(50);
  color: $dark-gray;
  font-size: rem-calc(20);

  @include breakpoint(medium down) {
    //margin-block: rem-calc(10);
    font-size: rem-calc(14);
  }

  a {
    color: $sub-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.entry__cat {
  margin-top: 20px;
  color: $primary-color;
  font-size: rem-calc(28);
}

.entry__content {
  margin-block: rem-calc(90);

  @include breakpoint(medium down) {
    margin-block: rem-calc(45);
  }

  p {
    margin-bottom: 2em;
  }
}
