.main-content {
  padding-top: 150px;
  padding-bottom: 140px;

  .page-title {
    margin-bottom: 50px;
  }
}

.header__title {
  height: 345px;

  .grid-container {
    height: 100%;

    .grid-x {
      height: 100%;

      .page-title {
        margin-bottom: 30px;
      }
    }
  }
}

.header__img {
  .header__featured-img {
    height: 500px;
    z-index: -2;
  }
}

/* 404 page */
.not-found {
  padding-top: 100px;
  padding-bottom: 100px;

  .label {
    text-decoration: none;
    cursor: pointer;
    color: $sub-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
