.footer {
  min-height: 640px;
  padding-block: 125px;
  margin-top: auto;
  background-color: $footer-bg;

  font-family: $sub-font;

  &__title {
    color: $dark-gray;
    font-family: $sub-font;
    font-size: rem-calc(23);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.footer__logo {
  img {
    max-height: 120px;
  }
}

.footer__sp {
  text-align: left;
}

.footer-menu {
  @include list-unstyled;

  font-size: rem-calc(25);
  text-align: left;

  li {
    display: block;

    a {
      color: $granite-gray;
      display: block;
      margin-bottom: 24px;

      &:hover {
        color: $sub-color;
      }
    }
  }
}

.footer__copy {
  color: $granite-gray;
  text-align: center;

  p {
    font-size: rem-calc(23);
  }
}
