.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 100;

  nav {
    display: flex;

    @include breakpoint(small down) {
      display: block;
    }
  }

  .sticky.is-stuck {
    background-color: $sticky-header-bg;
    transition: background 0.3s ease;
  }

  a[role='menuitem'].active {
    color: $sub-color;
  }

  a[role='menuitem']:focus {
    color: $primary-color;
  }

  .top-bar__decor {
    height: 15px;
    align-self: center;

    @include breakpoint(xlarge down) {
      display: none;
    }
  }

  .search-toggle {
    padding: $menu-items-padding;

    @include breakpoint(medium down) {
      padding: 0.7rem;
    }

    @include breakpoint(small down) {
      display: none;
    }
  }
}

.logo {
  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 40px;
  }

  @include breakpoint(large down) {
    margin-bottom: rem-calc(10);
  }

  @include breakpoint(small down) {
    position: absolute;
    top: 5px;
    right: #{-zf-get-bp-val($grid-margin-gutters, 'small') / 2};
  }
}

@include breakpoint(small down) {
  /* TOP BAR Mobile STYLING */

  .menu-grid-container {
    min-height: rem-calc(50);
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);

    background-color: $text-alt-color;

    .grid-margin-x {
      min-height: 100%;
      margin-left: 0;
      margin-right: 0;

      .cell {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .title-bar {
    font-size: rem-calc(16);
    font-weight: 800;
    line-height: 2.75em;

    .menu-icon {
      padding: 0;
      margin-right: rem-calc(10);
      border: none;
      background-color: transparent;

      @include menu-icon($white, $white, 32px, 24px, 4px);

      &::after {
        content: none;
      }
    }
  }

  .top-bar {
    display: none;
    margin-top: 5px;
    background: $text-alt-color; /* menu list background color */
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        background: $text-alt-color; /* menu item background color */
        color: $white; /* menu item text color */
        text-transform: capitalize;
        line-height: 1em;

        &:focus {
          color: $sub-color !important;
          background: transparent !important;

          &,
          & + .submenu-toggle {
            background: transparent;
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          background: lighten(
            $primary-color,
            5
          ); /* current/parent menu item background color */
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          background: darken(
            $primary-color,
            3
          ); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
      background-color: transparent;
    }

    .submenu {
      a {
        padding-left: 1rem;
      }

      .submenu {
        a {
          padding-left: 2rem;
        }
      }
    }
  }
}

@include breakpoint(medium) {
  /* TOP BAR STYLING */

  .menu-grid-container {
    min-height: rem-calc(155);
    font-family: $sub-font;
    font-size: rem-calc(21);
    font-weight: 800;

    @include breakpoint(1750px down) {
      font-size: rem-calc(16);
    }

    @include breakpoint(large down) {
      font-size: rem-calc(20);
    }

    @include breakpoint(medium down) {
      font-size: rem-calc(18);
    }

    @include breakpoint(800px down) {
      font-size: rem-calc(14);
    }

    .sticky.is-stuck & {
      min-height: rem-calc(155);
    }

    > .grid-x {
      min-height: inherit;
      padding-top: rem-calc(50);

      @include breakpoint(large down) {
        padding-top: rem-calc(20);
      }

      .logo {
        margin-top: 25px;
      }
    }

    .top-bar {
      display: flex;
      justify-content: flex-end;
    }

    li {
      > a {
        /* Regular menu item style */
        color: $primary-color;
        text-transform: uppercase;
        line-height: 40px;

        @include breakpoint(large down) {
          padding-left: 1.5rem !important;
        }

        @include breakpoint(medium down) {
          padding-left: 0.75rem !important;
        }

        &:hover {
          /* menu item style on hover */
          background: transparent;
          color: $sub-color;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          background: transparent;
          color: $sub-color;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
          &:hover {
            color: $sub-color;
          }
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        background: $white;
        color: $primary-color;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;
      background-color: transparent !important;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background-color: $text-alt-color;
          color: $primary-color;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            color: $sub-color;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            background: lighten($primary-color, 10);
            color: $white;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}
