/* Slick slider default styles */

// Override slick variables (to use default slick styles just remove variables below)
$slick-font-family: $fa;
$slick-prev-character: '';
$slick-next-character: '';
$slick-dot-character: '';
$slick-arrow-color: $white;
$slick-dot-color: $primary-color;
$slick-dot-color-active: $primary-color;
$slick-dot-size: 1rem;
$slick-arrow-size: 2rem;

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

/* Arrows */
.slick-arrow {
  width: $slick-arrow-size / 2;
  height: $slick-arrow-size;
  z-index: 1;

  &::before {
    font-weight: 900;
    font-size: $slick-arrow-size;
    opacity: 1;
  }
}
.slick-prev {
  left: 2rem;
}

.slick-next {
  right: 5rem;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 3rem;
}

.slick-dots {
  bottom: -2rem;

  li {
    button {
      &::before {
        font-weight: 900;
      }
    }
  }
}

.slider-section {
  .testimonial-slider {
    &__border-img {
      width: 91%;
      height: 86%;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: 0;
    }

    &__button {
      width: rem-calc(170);
      height: rem-calc(45);
      padding: 0.75rem;

      position: absolute;
      bottom: 4%;
      left: 50%;
      translate: -50% 0;

      color: $text-alt-color;
      background-color: $primary-color;
      font-size: rem-calc(20);

      &:hover {
        background-color: $sub_color;
      }
    }

    &__substrate {
      position: absolute;
      top: -3%;
      left: 50%;
      translate: -50% 0;
    }

    .home-slide {
      overflow: hidden;
      position: relative;
      margin: auto;
    }

    &__avatar {
      height: rem-calc(315);
      width: rem-calc(315);
      margin-top: -75px;

      position: absolute;
      top: 0;
      left: 50%;
      translate: -50% 0;

      border-radius: 50%;
    }

    &__decor {
      height: 10px;
      width: 80px;
      background-color: $primary-color;
    }

    .home-slide__caption {
      padding-top: rem-calc(130);
      padding-inline: rem-calc(275);

      p {
        line-height: 2em;
      }
    }
  }
}
