/* Slick slider default styles */

// Override slick variables (to use default slick styles just remove variables below)
$slick-font-family: $fa;
$slick-prev-character: '';
$slick-next-character: '';
$slick-dot-character: '';
$slick-arrow-color: $white;
$slick-dot-color: $primary-color;
$slick-dot-color-active: $primary-color;
$slick-dot-size: 1rem;
$slick-arrow-size: 2rem;

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

/* Arrows */
.slick-arrow {
  width: $slick-arrow-size / 2;
  height: $slick-arrow-size;
  z-index: 1;

  &::before {
    font-weight: 900;
    font-size: $slick-arrow-size;
    opacity: 1;
  }
}
.slick-prev {
  translate: 0 calc(-50% + 50px);
  left: 2rem;
}

.slick-next {
  translate: 0 calc(-50% + 50px);
  right: 5rem;

  @include breakpoint(medium down) {
    right: 3.5rem;
  }
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 3rem;
}

.slick-dots {
  bottom: -2rem;

  li {
    button {
      &::before {
        font-weight: 900;
      }
    }
  }
}

.slider-section {
  .testimonial-slider {
    &__border-img {
      width: 91%;
      height: 82%;
      position: absolute;
      top: 56%;
      left: 50%;
      translate: -50% -50%;
      z-index: 0;
    }

    &__button {
      padding: 0.75rem 1.75rem;

      position: absolute;
      bottom: 0%;
      left: 50%;
      translate: -50% 0;

      color: $text-alt-color;
      background-color: $primary-color;
      font-size: rem-calc(20);

      &:hover {
        background-color: $sub_color;
      }

      @include breakpoint(medium down) {
        bottom: -3%;
      }

      @include breakpoint(small down) {
        font-size: rem-calc(16);
      }
    }

    &__substrate {
      position: absolute;
      top: 5%;
      left: 50%;
      translate: -50% 0;

      @include breakpoint(medium down) {
        display: none;
      }
    }

    &__avatar {
      height: rem-calc(315);
      width: rem-calc(315);

      position: absolute;
      top: 0;
      left: 50%;
      translate: -50% 0;
      z-index: 999;
      border-radius: 50%;

      @include breakpoint(medium down) {
        height: rem-calc(150);
        width: rem-calc(150);
        top: 5%;
      }

      @include breakpoint(small down) {
        display: none;
      }
    }

    &__decor {
      height: 10px;
      width: 80px;
      background-color: $primary-color;

      @include breakpoint(medium down) {
        display: none;
      }
    }

    .home-slide__caption {
      padding-top: rem-calc(275);
      padding-inline: rem-calc(275);

      @include breakpoint(xxlarge down) {
        padding-inline: rem-calc(140);
      }

      @include breakpoint(medium down) {
        padding-inline: rem-calc(100);
        padding-top: rem-calc(120);
      }

      p {
        line-height: 2em;

        @include breakpoint(medium down) {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
